.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc.bak
.cache/
.config/BraveSoftware/
.config/Code/
!.config/Code/User/settings.json
.vscode/
.config/QtProject.conf
.config/Thunar/accels.scm
.config/alacritty/default-arcolinux.yml
.config/arcolinux-betterlockscreen/
.config/arcolinux-tweak-tool/
.config/arcolinux-welcome-app/
.config/arcologout/
.config/dconf/
!.config/glava/
.config/glava/*
!.config/glava/bars.glsl
!.config/glava/rc.glsl
.config/libfm/
.config/neofetch/arcolinux-arc.png
.config/neofetch/arcolinux-black.png
.config/neofetch/arcolinux-blue-dark.png
.config/neofetch/arcolinux-blue-darker.png
.config/neofetch/arcolinux-blue.png
.config/neofetch/arcolinux-evopop.png
.config/neofetch/arcolinux-froly.png
.config/neofetch/arcolinux-golden.png
.config/neofetch/arcolinux-green.png
.config/neofetch/arcolinux-havelock.png
.config/neofetch/arcolinux-hibiscus.png
.config/neofetch/arcolinux-mandy.png
.config/neofetch/arcolinux-mantis.png
.config/neofetch/arcolinux-niagara.png
.config/neofetch/arcolinux-numix.png
.config/neofetch/arcolinux-orchid.png
.config/neofetch/arcolinux-paper.png
.config/neofetch/arcolinux-pink-violet.png
.config/neofetch/arcolinux-polo.png
.config/neofetch/arcolinux-punch.png
.config/neofetch/arcolinux-smoke.png
.config/neofetch/arcolinux-tacao.png
.config/neofetch/arcolinux-tory.png
.config/neofetch/arcolinux-white.png
.config/neofetch/arcolinux.png
.config/neofetch/arcolinux.svg
.config/neofetch/config.conf.bak
.config/neofetch/logo-config.conf
.config/neofetch/medallion-blue.png
.config/neofetch/medallion-bronze.png
.config/neofetch/medallion-gold.png
.config/neofetch/medallion-silver.png
.config/neofetch/medallion-white.png
.config/nvim/
.config/paru/
.config/pulse/
.config/spotify/
.config/spicetify/Backup/
.config/spicetify/Extracted/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.config/zsh/plugins/
.config/zsh/starship.default
.config/zsh/starship.pastel
.config/zsh/.zcompdump
.dmrc
.git-credentials
.gitconfig
.lesshst
.local/bin/Glass Animals - Heat Waves (Official Video)-mRD0-GxqHVo.mkv
.local/bin/axyl-volume
.local/bin/ytd
.local/share/
.pki/
.screenrc
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
