[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Clipmenu
Comment=clipboard manager
Exec=clipmenud
TryExec=clipmenud
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=false
