[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Power Manager
Comment=power manager daemon
Exec=xfce4-power-manager
TryExec=xfce4-power-manager
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=false
