* {
    bg:                             #00000000;
    fg:                             #e6cb9d;
    ac:                             #49413a71;
    red: #E27878;
    green: #A3BE8C;
    background-color:             	@bg;
}
